*{
    margin: 0;
    padding:0;
}
/*Ovaj deo koda uredjuje vrh stranice*/
.pre-header{
    background-color:#581845 ;
    height: 65px;
    color: #fff;
    padding-top: 25px ;
}
.pre-header li a{
    text-decoration: none;
}
.main-menu{
    /*sklanja tacke ispred elemenata*/
    list-style: none;
}
/*ovako pristupamo nekom elementu, ovde samo idemo do li*/
.pre-header .secondery-menu li{
    /*Naredba za postavljanje elemenata u jednom redu*/
    display: inline-block;
    /* Razmak izmedju elemenata*/
    margin-left: 140px;

}/*Ovde uredjujemo element*/
.pre-header .secondery-menu li a{
    color:#E3CB76;
    text-transform: uppercase;

}
.main-menu .main{
    color:#E3CB76;
    list-style: none;
    margin-top:65px;
    margin-left: 124px;
}
.main-menu  .main  .git a{
    background-color: #72206E;
    padding: 5px;
    color:#E3CB76;
}
.main-menu  .main  .blog a{
    background-color: #72206E;
    padding: 5px;
    color:#E3CB76;
}
.main-menu  .main  .news a{
    background-color: #72206E;
    padding: 5px;
    color:#E3CB76;
}
.main-menu  .main  .projects a{
    background-color: #72206E;
    padding: 5px;
    color:#E3CB76;
}
.main-menu  .main  .git a:hover{
    color:#72206E;
    background-color:#E3CB76;
    text-decoration: none;
    transition: 1s;
}
.main-menu  .main  .blog a:hover{
    color:#72206E;
    background-color:#E3CB76;
    text-decoration: none;
    transition: 1s;
}
.main-menu  .main  .news a:hover{
    color:#72206E;
    background-color:#E3CB76;
    text-decoration: none;
    transition: 1s;
}
.main-menu  .main  .projects a:hover{
    color:#72206E;
    background-color:#E3CB76;
    text-decoration: none;
    transition: 1s;
}

.main-menu .main li{
    display: inline-block;
    margin-left: 15px;
}
.hero-section{
    background-image:url("../slike/pozadina1.jpg");
}
.hero-section{
    color:#E3CB76;
    text-transform: uppercase;
    padding: 150px;
    background-size:cover;
}
.hero-section h1{
    color:#E3CB76;
    font-size: 54px;
}
.hero-section a{
    background-color: #72206E;
    font-size: 15px;
    padding: 5px;
    color:#E3CB76;
}
.hero-section a:hover {
    color:#72206E;
    background-color:#E3CB76;
    text-decoration: none;
    transition: 1s;
}
.naseUsluge h2{
    text-align: center;
    margin-top:50px;
    color:#660066;
}
.naseUsluge .prvaSlika{
    background-color: #72206E;
    -webkit-box-shadow: -6px -3px 3px 1px rgba(168,54,168,0.57);
    -moz-box-shadow: -6px -3px 3px 1px rgba(168,54,168,0.57);
    box-shadow: -6px -3px 3px 1px rgba(168,54,168,0.57);
}
.naseUsluge .slika2{
    background-color: #72206E;
    -webkit-box-shadow: -6px -3px 3px 1px rgba(168,54,168,0.57);
    -moz-box-shadow: -6px -3px 3px 1px rgba(168,54,168,0.57);
    box-shadow: -6px -3px 3px 1px rgba(168,54,168,0.57);
}
.naseUsluge .slika3{
    background-color: #72206E;

    -webkit-box-shadow: -6px -3px 3px 1px rgba(168,54,168,0.57);
    -moz-box-shadow: -6px -3px 3px 1px rgba(168,54,168,0.57);
    box-shadow: -6px -3px 3px 1px rgba(168,54,168,0.57);
}
.naseUsluge .prvaSlika h4{
    color:#E3CB76;
    text-align: center;
}
.naseUsluge .slika2 h4{
    color:#E3CB76;
    text-align: center;
}
.naseUsluge .slika3 h4{
    color:#E3CB76;
    text-align: center;
}






